@page
@model tareaBase.Pages.Zoologicos.DetailsModel

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Zoologico</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zoologico.Pais)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zoologico.Pais)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zoologico.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zoologico.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zoologico.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zoologico.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zoologico.SitioWeb)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zoologico.SitioWeb)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Zoologico?.id">Editar</a> |
    <a asp-page="./Index">Volver</a>
</div>
