@page
@model tareaBase.Pages.Zoologicos.IndexModel

@{
    ViewData["Title"] = "Índice";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Crear nuevo zoologico</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Zoologico[0].Pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zoologico[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zoologico[0].Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zoologico[0].SitioWeb)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Zoologico) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SitioWeb)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
